/*-- scss:defaults --*/
// Navbar colors
$navbar-bg: #c78e3c;
$navbar-fg: white;
$navbar-hl: white;

/*-- scss:rules --*/
// Navbar link hover/focus colors
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: white !important;
}

// Announcement banner styling
.alert-primary {
    background-color: #fff9c477 !important;
    color: #333 !important;
}